<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logic Girl</title>
    <script src="https://kit.fontawesome.com/5b266e7995.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'estilos/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/equipe.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'imagens/logo.png' %}"></a>
        <div class="menu">
            <a class="btn-menu" href="{% url 'home' %}">Sobre</a>
            <a class="btn-menu" href="{% url 'download' %}">Download</a>
            <a class="btn-menu" href="{% url 'avaliacao' %}">Avaliação</a>
            <a class="btn-menu sel" href="{% url 'equipe' %}">Equipe</a>
            <a class="btn-menu" href="{% url 'publicacoes' %}">Publicações</a>
            {% if logado %}
                <a class="btn-menu" href="#">Escrever</a>
                <a class="btn-menu" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
                <a class="btn-menu" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </div>
    </nav>
    <div class="quem-somos">
        <h3 class="texto-quem">Quem </h3>
        <img class="img-quem-somos" src="{% static 'imagens/sam2.png' %}">
        <h3 class="texto-quem">Somos?</h3>
    </div>
    <div class="devs">
        <div class="caixa-titulo">
            <h3 class="titulo-secao">Equipe de Desenvolvimento</h3>
            <div class="linha"></div>
        </div>
        <div class="usuarios">
            {% for user in devs %}
                <div class="usuario">
                    <img class="img-user" src="{% static user.perfil %}">
                    <div class="cargos">
                        {% for cargo in user.cargos.all %}
                            <div class="cargo-user">{{cargo.tipo}}</div>
                        {% endfor %}
                    </div>
                    <h3 class="nome-user">{{user.nome}}</h3>
                    <div class="redes">
                        {% for rs in user.redes.all %}
                            <a class="rede-user" href="{{rs.link}}"><i class="{{rs.tipo}}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="devs">
        <div class="caixa-titulo">
            <h3 class="titulo-secao">Autores das Publicações</h3>
            <div class="linha"></div>
        </div>
        <div class="usuarios">
            {% for user in autores %}
                <div class="usuario">
                    <img class="img-user" src="{% static user.perfil %}">
                    <div class="cargos">
                        {% for cargo in user.cargos.all %}
                            <div class="cargo-user">{{cargo.tipo}}</div>
                        {% endfor %}
                    </div>
                    <h3 class="nome-user">{{user.nome}}</h3>
                    <div class="redes">
                        {% for rs in user.redes.all %}
                            <a class="rede-user" href="{{rs.link}}"><i class="{{rs.tipo}}"></i></a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav class="navbottom">
        <div class="caixa-rodape">
            <div class="contato-rodape">
                <h2 class="contato-rodape-text">Contato</h2>
                <h5 class="contato-rodape-text"><b class="contato-rodape-text">E-mail:</b> logicgirl7@gmail.com</h5>
                <div class="redes-sociais">
                    <a class="rede-social" href="https://instagram.com/logic__girl_"><i class="contato-rodape-text fab fa-instagram"></i></a>
                    <a class="rede-social" href="https://instagram.com/logic__girl_"><i class="contato-rodape-text fab fa-twitter"></i></a>
                    <a class="rede-social" href="https://instagram.com/logic__girl_"><i class="contato-rodape-text fab fa-facebook-square"></i></a>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2019 - DaNimeS coorporation
            </div>
        </div>
    </nav>
</body>
</html>