<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{publicacao.titulo}}</title>
    <script src="https://kit.fontawesome.com/5b266e7995.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'estilos/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'estilos/equipe.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'imagens/logo.png' %}"></a>
        <div class="menu">
            <a class="btn-menu" href="{% url 'home' %}">Sobre</a>
            <a class="btn-menu" href="{% url 'download' %}">Download</a>
            <a class="btn-menu" href="{% url 'avaliacao' %}">Avaliação</a>
            <a class="btn-menu" href="{% url 'equipe' %}">Equipe</a>
            <a class="btn-menu sel" href="{% url 'publicacoes' %}">Publicações</a>
            {% if logado %}
                <a class="btn-menu" href="/admin/logicgirlapp/publicacao/add/">Escrever</a>
                <a class="btn-menu" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="alert-btn">Sair</span>
                </a>
            {% else %}
                <a class="btn-menu" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="alert-btn">Entrar</span>
                </a>
            {% endif %}
        </div>
        <div class="btn-menu-mobile" hidden><i class="fas fa-bars"></i></div>
    </nav>
    <div class="publicacoes">
        {% if publicacao.capa %}
            <img class="pub-capa-img" src="{{publicacao.capa}}">
        {% endif %}
        <div class="pubs-top">
            <h3 class="pubs-titulo-post">{{publicacao.titulo}}</h3>
            <div class="linha lin-pub"></div>
        </div>
        <div class="pub-corpo-text">
            {{publicacao.corpo}}
        </div>
        {% if publicacao.secao1 %}
            <div class="pub-secao1">
                {% if publicacao.capa_secao1 %}
                <div class="img-secao1">
                    <img class="img-pub-secao1" src="{{publicacao.capa_secao1}}">
                </div>
                {% endif %}
                <div class="corpo-secao1">
                    <div class="pubs-top">
                        <h3 class="pubs-subtitulo">{{publicacao.titulo_secao1}}</h3>
                        <div class="linha lin-pub"></div>
                    </div>
                    <div class="pub-corpo-text">
                        {{publicacao.secao1}}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if publicacao.secao2 %}
        <div class="pub-secao2">
            <div class="secao2-corpo">
                <div class="corpo-secao2">
                    <div class="pubs-top">
                        <h3 class="pubs-subtitulo">{{publicacao.titulo_secao2}}</h3>
                        <div class="linha black lin-pub"></div>
                    </div>
                    <div class="pub-corpo-text">
                        {{publicacao.secao2}}
                    </div>
                </div>
                {% if publicacao.capa_secao2 %}
                <div class="img-secao2">
                    <img class="img-pub-secao2" src="{{publicacao.capa_secao2}}">
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if publicacao.referencias %}
    <div class="pub-referencias">
        <div class="pubs-top-ref">
            <h3 class="pubs-subtitulo">REFERÊNCIAS</h3>
            <div class="linha"></div>
        </div>
        <div class="pub-corpo-text">
            {{publicacao.referencias}}
        </div>
    </div>
    {% endif %}
    <div class="pub-autor">
        <img class="img-user" src="{{publicacao.autor.perfil}}">
        <div class="autor-info">
            <h3 class="nome-user">{{publicacao.autor.nome}}</h3>
            <div class="cargos-autor">
                {% for cargo in publicacao.autor.cargos.all %}
                    <div class="cargo-user">{{cargo.tipo}}</div>
                {% endfor %}
            </div>
            <div class="redes">
                {% for rs in publicacao.autor.redes.all %}
                    <a class="rede-user" href="{{rs.link}}"><i class="{{rs.tipo}}"></i></a>
                {% endfor %}
            </div>
        </div>
    </div>
    <nav class="navbottom">
        <div class="caixa-rodape">
            <div class="contato-rodape">
                <h2 class="contato-rodape-text">Contato</h2>
                <h5 class="contato-rodape-text"><b class="contato-rodape-text">E-mail:</b> logicgirl7@gmail.com</h5>
                <div class="redes-sociais">
                    <a class="rede-social" href="https://instagram.com/logic__girl_"><i class="contato-rodape-text fab fa-instagram"></i></a>
                    <a class="rede-social" href="https://instagram.com/logic__girl_"><i class="contato-rodape-text fab fa-twitter"></i></a>
                    <a class="rede-social" href="https://instagram.com/logic__girl_"><i class="contato-rodape-text fab fa-facebook-square"></i></a>
                </div>
            </div>
            <div class="copyright">
                Copyright © 2019 - DaNimeS coorporation
            </div>
        </div>
    </nav>
    <script type="text/javascript" src="{% static 'javascript/navbar.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/ajustetexto.js' %}"></script>
</body>
</html>